@import "../../styles/colors.scss";

.whatfreeEnergyContainer {
  display: flex;
  gap: 3.19rem;

  @media (max-width: 993px) {
    gap: 1.64rem;
  }

  @media (max-width: 736px) {
    flex-direction: column;
  }

  .content {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2.87rem;
    padding: 6.82rem 7.81rem;
    border-radius: 4.375rem;
    background: #f6f6f6;

    @media (max-width: 993px) {
      padding: 3.14rem 4.01rem;
      gap: 1.76rem;
    }

    @media (max-width: 736px) {
      width: 100%;
      border-radius: 1.15256rem;
    }

    h2 {
      max-width: 34.312rem;
      color: #0172ff;
      font-family: Inter;
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.12rem;

      @media (max-width: 993px) {
        font-size: 1.875rem;
        letter-spacing: -0.05625rem;
      }
    }

    p {
      color: #9f9f9f;
      font-family: Inter;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 99.023%;

      @media (max-width: 993px) {
        font-size: 0.9375rem;
      }
    }
  }

  .containerImg {
    position: relative;
    width: 30%;
    border-radius: 4.375rem;
    background: #f6f6f6;

    @media (max-width: 736px) {
      width: 100%;
      margin-top: -60px;
      background: none;

      &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f6f6f6;
        border-bottom-left-radius: 1.15256rem;
        border-bottom-right-radius: 1.15256rem;
        z-index: -1;
      }
    }

    figure {
      position: absolute;
      top: 50%;
      left: -93px;
      transform: translate(0%, -50%);

      @media (max-width: 993px) {
        left: -41px;
      }

      @media (max-width: 736px) {
        position: relative;
        width: 100%;
        top: 0%;
        left: 0px;
        transform: translate(0%, 0%);
      }

      img {
        width: 100%;

        &:nth-child(2) {
          display: none;
        }

        @media (max-width: 993px) {
          width: 110%;
          height: auto;
        }

        @media (max-width: 736px) {
          width: 100%;
          height: auto;

          &:nth-child(1) {
            display: none;
          }

          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
}
