@import "../../styles/colors.scss";

.whatfreeEnergyContainer {
  display: flex;
  gap: 3.19rem;

  @media (max-width: 768px) {
    gap: 0rem;
    flex-direction: column;
  }

  .content {
    position: relative;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
    padding: 3.13rem 4.62rem;
    border-radius: 4.375rem;
    background: #f6f6f6;

    @media (max-width: 768px) {
      width: 100%;
      padding: 3.13rem 4rem;
      border-radius: 2.2445rem;
      background: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 150%;
        background: #f6f6f6;
        border-radius: 2.2445rem;
        z-index: -1;
      }
    }

    @media (max-width: 425px) {
      padding: 2rem 2.56rem;

      &::after {
        height: 140%;
      }
    }

    h2 {
      max-width: 23.312rem;
      color: #10171f;
      font-family: Inter;
      font-size: 2.6875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.08063rem;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 1.875rem;
      }
    }

    p {
      color: #9f9f9f;
      font-family: Inter;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 400;
      line-height: 105%;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 0.9375rem;
      }
    }
  }

  .containerImg {
    position: relative;
    width: 30%;
    border-radius: 4.375rem;
    background: #f6f6f6;

    @media (max-width: 768px) {
      border-radius: 2.2445rem;
      width: 100%;
      background: none;
    }

    figure {
      position: absolute;
      top: 50%;
      left: -70px;
      transform: translate(0%, -50%);

      @media (max-width: 768px) {
        position: relative;
        width: 60%;
        top: 0%;
        left: 0px;
        transform: translate(0%, 0%);
        margin: 0 auto;
      }

      @media (max-width: 425px) {
        width: 100%;
      }

      img {
        width: 100%;

        &:nth-child(1) {
          @media (max-width: 768px) {
            display: none;
          }
        }

        &:nth-child(2) {
          display: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}
