@import "../../styles/colors.scss";

.heroContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 10.94rem 0 4.1rem 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (max-width: 425px) {
    padding: 2.14rem 0 1.81rem 0;
  }

  .titleMobile {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }

    h1 {
      text-align: center;
      color: $black-700;
      font-family: Inter;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.05625rem;

      @media (max-width: 425px) {
        max-width: 350px;
        margin: 0 auto;
      }
    }
  }

  figure {
    width: 100%;
    max-width: 379px;

    @media (max-width: 768px) {
      width: 80%;
      max-width: none;
      margin: 0 auto;
    }

    @media (max-width: 425px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

    @media (max-width: 768px) {
      text-align: center;
      width: 100%;
    }

    .titleContent {
      color: $black-700;
      font-family: Inter;
      font-size: 2.6875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.08063rem;

      @media (max-width: 768px) {
        display: none;
      }
    }

    p {
      color: #9f9f9f;
      font-family: Inter;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 400;
      line-height: 105%;
    }
  }
}
