* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) -12.6%,
      rgba(0, 0, 0, 0) 7.99%
    ),
    #fff;
  -webkit-font-smooth: antialiased;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 102px;
}

@media (max-width: 890px) {
  html,
  body {
    scroll-padding-top: 130px;
  }
}

@media (max-width: 425px) {
  html,
  body {
    scroll-padding-top: 140px;
  }
}

body,
input,
text-area,
button {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
