.container {
  position: relative;
  width: 100%;
  max-width: 68.3125rem;
  padding: 0px 20px;
  margin: 0 auto;
}

.conatainerLong {
  position: relative;
  width: 100%;
  max-width: 68.75rem;
  padding: 0px 20px;
  margin: 0 auto;
}
