.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  // max-width: 104.6875rem;
  padding: 0px 20px;
  margin: 0 auto;
}

.conatainerLong {
  position: relative;
  width: 100%;
  // max-width: 1280px;
  max-width: 104.6875rem;
  padding: 0px 20px;
  margin: 0 auto;
}
