@import "../../styles/colors.scss";

.formWrapper {
  width: 100%;
  margin-top: 7.88rem;
  background: $blue-200;
  border-radius: 2.09519rem;
  padding: 4.5rem 14.31rem;
  // background-image: url("../../assets/form/bg-form.png");
  // background-size: 75%;
  // background-position: -17% 45%;
  // background-repeat: no-repeat;

  background-image: url("../../assets/form/Layer_1.png");
  background-size: 90%;
  background-position: -60% 45%;
  background-repeat: no-repeat;
  overflow: hidden;

  .formTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2.5rem;

    & > h2 {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.12rem;
      max-width: 1200px;
    }

    & > p {
      color: #fff;
      font-family: Inter;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.05625rem;
      max-width: 450px;
    }
  }

  .formContainer {
    display: flex;
    justify-content: space-between;
    gap: 9.38rem;

    .formRow {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  .formBtn {
    display: flex;
    justify-content: center;
    margin-top: 4.25rem;
  }
}
