@import "../../styles/colors.scss";

.formWrapper {
  width: 100%;
  margin-top: 5.29rem;
  background: $blue-200;
  border-radius: 2.09519rem;
  padding: 3.94rem 8.25rem;

  background-image: url("../../assets/form/Layer_1.png");
  background-size: 90%;
  background-position: -60% 45%;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 2.29rem 5.78rem;
  }

  @media (max-width: 650px) {
    padding: 2.06rem 1.81rem;
    border-radius: 1.15256rem;
  }

  @media (max-width: 650px) {
    background-image: url("../../assets/form/4-fundo-formulário.png");
    background-size: 111%;
    background-position: 60% 45%;
    margin-top: 2.38rem;
  }

  .formTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.62rem;
    margin-bottom: 2.5rem;

    & > h2 {
      max-width: 1200px;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 2.6875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.08063rem;

      @media (max-width: 768px) {
        font-size: 1.875rem;
      }
    }

    & > p {
      max-width: 375px;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 600;
      line-height: 99.023%;
      letter-spacing: -0.03188rem;
    }
  }

  .formContainer {
    display: flex;
    justify-content: space-between;
    gap: 3.88rem;

    @media (max-width: 650px) {
      flex-direction: column;
      gap: 1.25rem;
    }

    .formRow {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  .formBtn {
    display: flex;
    justify-content: center;
    margin-top: 4.25rem;
  }
}
