.header {
  position: fixed;
  top: 0;
  padding: 1.5rem 0px;
  width: 100vw;
  border-bottom: 2px solid #d9d9d9;
  z-index: 100;

  background: #f6f6f6;

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 890px) {
      flex-wrap: wrap;
    }

    figure {
      @media (max-width: 890px) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        img {
          width: 6.69006rem;
          height: 1.76269rem;
        }
      }
    }

    ul {
      width: 100%;
      max-width: 813px;
      display: flex;
      margin-top: 15px;
      padding: 0 40px;
      justify-content: space-around;

      @media (max-width: 890px) {
        padding: 0px;
        justify-content: space-between;
        width: 70%;
      }

      @media (max-width: 768px) {
        justify-content: space-between;
        width: 60%;
      }

      li {
        list-style: none;

        a {
          color: #10171f;
          font-family: Inter;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 99.023%;
          letter-spacing: -0.03rem;

          @media (max-width: 628px) {
            font-size: 0.60681rem;
          }
        }
      }
    }

    .headerBtn {
      margin-top: 15px;
    }
  }
}
